*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
    max-width: 100%;
    overflow-x: hidden;
}
.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #7a8070;
    opacity: 0.7;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    padding: 35px 25px;
    z-index: 1000;
}
.link-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    height: 100%;
    font-size: 18px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: white;
    background-color: #ffe88b;
}
nav .home-link{
    margin-right: auto;
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    display: none;
}
@media screen and (max-width: 450px) {
    .link-container{
        flex-direction: column;
        align-items: flex-start;

        position:fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: #7a8070;
        box-shadow: -5px 0 5px rgba(0,0,0,0.5);
        transition: 0.75s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    }
    #sidebar-active:checked ~ .link-container{
        right: 0;
    }
}
section{
    height: 100vh;
}
.section1-head{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffe88b;
    font-family: "Great Vibes", cursive;
}
.section1-head h1{
    font-size: 10vw;
    margin-bottom: 10px;
    width: 100%;
}
.section1-content{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffe88b;
}
.section1-content p{
    font-size: 20px;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}
.section2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: center;
    gap: 20px;
}
.section2-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.section2-left-head{
    margin: auto;
    text-align: center;
    width: 100%;
}
.section2-left-head h1{
    font-size: 110px;
    color: black;
}
.section2-left-head h2{
    font-size: 60px;
    color: black;
}
.section2-left-content{
    margin: auto;
    margin-top: -10px;
    width: 74% ;
    text-align: center;
}
.section2-left-content p{
    text-align: justify;
    font-size: 21px;
    color: #321612;
    text-indent: 2em;
}
.section2-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.section2-right-img{
    width: 60%;
}
.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100%;
}
.section3-img{
    width: 45%;
}
.section3-p{
    font-size: 25px;
    color: white;
    text-align: justify;
    text-indent: 2em;
    margin-right: 50px;
}
.section4{
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    justify-content:space-around;
}
.section4-left{
    display: flex;
    flex-direction: column;
}
.section4-left-content{
    flex-grow: 1;
    flex-direction: column;
    justify-items: center;
    margin-top: 10%;
}
.section4-left-img{
    height: 38%;
    align-self: flex-start;
}
.section4-left-content p{
    width: 500px;
    font-size: 22px;
    color: #321612;
}
.section4-right{
    flex-grow: 1;
    flex-direction: column;
    margin-top: 10%;
    position: relative;
}
.section4-right-img{
    position: absolute;
    top: 0;
    left: 50%;
    width: 280px;
}
.section4-right-content{
    position: absolute;
    top: 25%;
    left: 15%;
    background-color: white;
    padding: 15px;
    color: black;
    width: 320px;
}
.section4-right-content p{
    font-size: 20px;
    text-align: justify;
    text-indent: 2em;
}
.section4-right-conclusion{
    position: absolute;
    top: 85%;
    left: 15%;
    padding: 15px;
    color: black;
    width: 600px;
}
.section4-right-conclusion p{
    font-size: 20px;
    text-align: justify;
    text-indent: 2em;
}
.section-5{
     height: 100vh;
    background-image: url('/web/section5.webp');
    background-size: cover;
    background-position: center;
    position: relative;
}
.section-6{
    position: relative;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.section-6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/web/section6.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
    z-index: 1;
}
.second_grid{
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 80px;
    margin-top: 180px;
    margin-left: 150px;
    margin-right: 150px;
}
.second_grid_row1{
    display: grid;
    grid-template-rows: 1fr,1fr,1fr;
}
.row_description{
    margin-bottom: 40px;
}
.second_grid_row2{
    display: grid;
    grid-template-rows: 1fr,1fr,1fr;
}
.second_grid_row3{
    display: grid;
    grid-template-rows: 1fr,1fr,1fr;
}
.text_header{
    font-size: 78px;
    font-weight: bold;
    padding-left: 22px;
    margin-bottom: 30px;
    color: #472520;
}
.subhead{
    font-size: 95px;
    font-weight: bold;
    padding-left: 22px;
    margin-bottom: 30px;
    color: #472520;
}
.text{
    background-color:rgba(71, 37, 32, 0.2);
    padding: 15px;
    font-size: 24px;
    color: white
}
.section7{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
}
.section7-column{
    position: relative;
    display: flex;
    width: 30%;
    height: 65vh;
    flex-direction: column;
    align-items: center;
}
.section7-h{
    font-size: 60px;
    font-weight: bold;
    color: #ffe88b;
    padding-top: 4%;
    padding-left: 5%;
    margin-bottom: 4%;
}
.section7-img-head{
    position: absolute;
    top: 10%;
    font-size: 225%;
    font-weight: bold;
    color: #ffe88b;
}
.section7-img-des{
    position: absolute;
    top: 80%;
    font-size: 150%;
    color: #ffe88b;
    text-align: center;
    width: 100%;
}
.section7-img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.section7-column a {
    text-decoration: none; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.section8{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
}
.section8-left{
    position: relative;
    background-color: #faf7ef;
    height: 100%;
}
.section8-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3a1f16;
    height: 100%;
}
.section8-img1{
    position: absolute;
    top: 7%;
    left: 10%;
}
.section8-img2{
    position: absolute;
    top: 69%;
    left: 40%;
}
.section8-head{
    position: absolute;
    top: 90%;
    left: 35%;
    font-size: 25px;
    font-weight: bold;
    color: #321612;
}
.section8-des{
    text-indent: 2em;
    width: 80%;
    font-size: 24px;
    color: #faf7ef;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    background-color: #eae5d9;
    margin-top: -10px;
}
.footer-left{
    text-align: center;
    width: 40%;
    line-height: 35px;
}
.footer-right{
    position: relative;
    display: flex;
    width: 35%;
    justify-content: center;
}
.footer-img{
    height: 100%;
    opacity: 0.5;
}
.footer-h1{
    position: absolute;
    top: 55%;
    left: 41%;
    transform: translate(-50%, -50%);;
    font-size: 54px;
    color: #3a1f16;
}
.footer-button{
    position: absolute;
    top: 75%;
    left: 41%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #3a1f16;
}
.footer-link{
    width: 100%;
    color: #3a1f16;
}
.lazy{
    width: 100%;;
}
.page1{
    position: relative;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    isolation: isolate;
}
.page1 ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/web/page1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.2;
    z-index: -1;
}
.page1-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    width: 100%;
}
.page1-head{
    text-align: center;
    width: 100%;
    color: #321612;
    display: block;
}
.page1-product{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
}
.page1-head{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: bold;
}
.page1-product img{
    width: 17%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.page2{
    position: relative;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    isolation: isolate;
}
.page2 ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/web/page2.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.3;
    z-index: -1;
}
.page2-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 30px;
    margin: 20px;
    margin-top: 65px;
    
}
.page2-img{
    width: 70%;
}